* {
	margin: 0;
	padding: 0;
}

body, html {
	font-family: 'poe-vetica-new', sans-serif;	
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/*========== HEADER ==========*/

header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(img/headerbackground.webp);
	background-size: cover;
	background-position: center center;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem 1rem;
	color: white;
}

header svg {
	width: 80vw;
	margin-bottom: 1rem;
}

header p {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 8rem;
}

header form {
	display: flex;
}

header input:first-child {
	width: 70vw;
	height: 32px;
	border: none;
	padding: 5px;
	margin-right: 2px;
	padding-left: 1vw;
}

@media (min-width: 750px) {
	header input:first-child {
		width: 40vw;
	}
}

header button {
	border: none;
	width: 62px;
	height: 42px;
	background: white;
	padding: 5px;
	cursor: pointer;
}

header button svg {
	margin-top: -34px;
	width: 50%;
}

/*========== MAIN ==========*/

h2, h3 {
	color: #343537;
}

section {
	padding: 2rem 0;
}

section h2 {
	margin: 0 0 1rem 2rem;
}

.explore ul {
	overflow-x: scroll;
	overflow-y: hidden;
  	white-space: nowrap;
	width: 100vw;
	padding: 0 2rem;
	display: flex;
}

.explore li {
	display: inline-block;
	margin-right: 1rem;
	width: 60vw;
	height: 80vh;
	position: relative;
}

.explore li:last-child {
	width: 60vw;
}

.explore li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.explore h3 {
	margin-bottom: 0.2em; 
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 60vw;
}

.explore p {
	color: #A3ABAD;
	margin-bottom: .5em; 
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

li h3 {
	z-index: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.explore li:last-child {
	padding-right: 2rem;
}

.loading h3 {
	--loading-h3-width: 30vw;
	width: var(--loading-h3-width);
	margin-right: calc(60vw - var(--loading-h3-width));
	height: 22px;
	background: lightgray;
	animation: loading 2s infinite ease-in;
}

.loading p {
	width: 10rem;
	height: 18.5px;
	background: lightgray;
	animation: loading 2s infinite ease-in;
}

.loading:last-child {
	position: relative;
}

.loading figure {
	width: 100%;
	height: 100%;
	background: lightgray;
	animation: loading 2s infinite ease-in;
}

.antiscroll {
	overflow: hidden;
}

@keyframes loading {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.search h2 {
	margin-left: 1rem;
}

.search ul {
	display: flex;
	flex-wrap: wrap;
	margin-left: 1rem;
}

.search li {
	display: block;
	width: 10rem;
	height: 12rem;
	position: relative;
	margin: 0 1rem 7rem 0;
	cursor: pointer;
	transition: .5s;
}

.search li:hover {
	transform: translateY(-0.5em);
}

.search li:hover h3 {
	text-decoration: underline;
}

.search li h3 {
	margin-bottom: 0.5em; 
}

.search li p {
	color: #A3ABAD;
}

.search li img {
	width: 10rem;
	height: 12rem;
	object-fit: cover;
	margin-bottom: 0.5em; 
}

.no-results {
	margin: 3em 0;
	width: 100vw;
	display: grid;
	place-items: center;
}

.no-results p {
	margin-bottom: 2em;
}

.no-results button {
	background-color: #343537;
	color: white;
	padding: 10px 15px;
	text-decoration: none;
	cursor: pointer;
}

.no-results button:hover {
	background-color: #5F99B0;
	color: white;
}

.search .loadmore {
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search .loadmore:hover {
	opacity: .5;
}

.search .loadmore p {
	color: #343537;
	font-weight: 800;
}

.search .loadmore img {
	width: 25%;
	height: auto;
}

@media (min-width: 385px) {
	.search h2 {
		margin-left: 2rem;
	}

	.search ul {
		margin-left: 2rem;
	}
}

.hide {
	display: none;
}